.extensions-list li{float: left; margin: 0px 30px 20px 0px; padding: 0px; list-style-type: none;}
.extensions-list li .screenshot{height: 270px; width: 270px; overflow: hidden; display: block;}
.clearfix{clear: both; overflow: hidden; display: block;}